<html>
 <head>
    <title>{{title}} - microblog</title>
 </head>
 <body>
    {% if user %}
    <h1>Hello, {{user.nickname}}!</h1>
    {% else %}
    <h1>Hello, Insight Fellow!</h1>
    {% endif %}
    <br />
    <ul>
    {% for num in array %}
       <li>{{num}}</li>
    {% endfor %}
    </ul>
    <div id="this-div">
    </div>

    <script language="javascript">
        // Client-side Javascript in the HTML
        var targetContainer = document.getElementById("this-div");
        var eventSource = new EventSource("/stream");
        eventSource.onmessage = function(e) {
            targetContainer.innerHTML = e.data;
        };
    </script>
 </body>
</html>